@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  /*不用怕圖片太大張而破版*/
  height: auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*共用css，header ,menu,banner,footer*/
/*載入字型*/
@font-face {
  font-family: "Roboto-Light";
  src: url("../webfonts/Roboto-Light.ttf") format("truetype");
}
.wrap {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 微軟正黑體;
}
@media (max-width: 768px) {
  .wrap {
    max-width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}
@media (max-width: 568px) {
  .wrap {
    max-width: 100%;
  }
}

/*header CSS*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050001;
  padding: 0.625em 1.875em;
}
.header .logo-banner a {
  width: 120px;
  height: 32px;
  background: url("../images/logo_w(null).svg") no-repeat;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header {
    max-width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}
@media (max-width: 568px) {
  .header {
    max-width: 100%;
  }
}

.menu {
  display: flex;
}
.menu li > a {
  display: block;
  height: 40px;
  /*40px以上是使用者手指一般可點擊的範圍*/
  line-height: 40px;
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  /*避免選選單時頁面跳動*/
}
.menu li > a:hover {
  border-bottom: 2px solid white;
}
@media (max-width: 768px) {
  .menu {
    max-width: 100%;
    width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: max-height 1s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 100;
    /*header 80px+1px boder 線條*/
    top: 43px;
    left: 0;
    right: 0;
    background: #050001;
    flex-direction: column;
    text-align: right;
  }
  .menu li {
    display: block;
    max-width: 100%;
    border-bottom: 1px dashed white;
  }
  .menu li > a:hover {
    border-bottom: 0px;
    color: gray;
  }
}

.showmenu {
  display: none;
}
@media (max-width: 768px) {
  .showmenu {
    display: block;
    color: white;
    font-size: 1.5em;
  }
}

/*jQ點擊後動態在 body 加上 class */
.menu-show .menu {
  max-height: 400px;
}

/*banner CSS*/
.banner {
  height: 420px;
  background-image: url(../images/header_desktop.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #050001;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .slogan {
  padding-top: 1.25em;
  padding-bottom: 1.625em;
  padding-left: 1.375em;
  padding-right: 2.625em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  /*灰色半透明*/
  text-align: center;
}
.banner .slogan h2 {
  padding-bottom: 0.55em;
  font-size: 2.25em;
  color: white;
}
.banner .slogan h4 {
  line-height: 1.5em;
  color: white;
}
.banner .slogan span {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
@media (max-width: 768px) {
  .banner {
    max-width: 100%;
    max-height: 420px;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}
@media (max-width: 568px) {
  .banner {
    max-width: 100%;
    max-height: 280px;
    font-size: 70%;
    background-image: url(../images/header_mobile.png);
  }
}

/*footer css*/
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625em 1.875em;
  background-color: #ede6e6;
  color: #270904;
}
.footer .footer-about {
  width: 28%;
  margin-right: 2%;
  margin-bottom: 30px;
}
.footer .footer-about h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.footer .footer-contact {
  width: 38%;
  margin-right: 2%;
  margin-bottom: 30px;
}
.footer .footer-contact h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.footer .footer-contact ul {
  list-style: disc;
  padding-left: 1.5em;
}
.footer .footer-logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.footer .footer-logo .logo-footer a {
  width: 245px;
  height: 49px;
  background: url("../images/logo_l@svg.svg") no-repeat;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.footer .footer-logo div {
  font-size: 3.0625em;
  font-weight: bolder;
  letter-spacing: 0px;
}
.footer .footer-logo .google-logo {
  color: #ed4b32;
  font-size: 2em;
  margin: 0.67em 0;
}
.footer .footer-logo .twitter-logo {
  color: #3298d6;
  font-size: 2em;
  margin: 0.67em 0;
}
.footer .footer-logo .facebook-logo {
  color: #2a5086;
  font-size: 2em;
  margin: 0.67em 0;
}
@media (max-width: 768px) {
  .footer {
    max-width: 100%;
  }
  .footer .footer-about, .footer .footer-contact, .footer .footer-logo {
    width: 100%;
    height: auto;
  }
  .footer .logo-footer {
    display: none;
  }
}

.form-btn-gray {
  background-color: rgba(0, 0, 0, 0.35);
  height: 40px;
  /*40px以上是使用者手指一般可點擊的範圍*/
  color: #fff;
}

.form-btn-orange {
  background-color: #F56C23;
  height: 40px;
  /*40px以上是使用者手指一般可點擊的範圍*/
  color: #fff;
}

.pure-form-stacked .form-text {
  margin: 1em 0 !important;
  font-family: "FontAwesome" !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: inherit !important;
}

/*content CSS*/
.content {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  background-color: #ede6e6;
  color: #3D1101;
}
.content .features-title {
  width: 460px;
  height: 64px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.content .features-title .features-title-hr {
  width: 100%;
  height: 1px;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.25em;
  margin: 0 auto;
  background-color: #979797;
}
.content .features-title .features-title-content {
  width: 200px;
  z-index: 100;
  background-color: #ede6e6;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #3D1101;
}
.content .features-title .features-title-content p {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
.content .chef {
  max-width: 100%;
  height: auto;
  display: flex;
}
.content .map {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 38px;
  background-color: rgba(250, 250, 250, 0.7);
  color: #3D1101;
}
@media (max-width: 768px) {
  .content {
    max-width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
  .content .chef, .content .map {
    max-width: 100%;
  }
}
@media (max-width: 568px) {
  .content {
    max-width: 100%;
  }
  .content .features-title {
    max-width: 100%;
    width: auto;
  }
  .content .features-title .features-title-hr {
    display: none;
  }
  .content .features-title .features-title-content {
    position: static;
  }
  .content .chef {
    flex-direction: column;
  }
}

/*秘訣 css*/
.features-tips {
  max-width: 1024px;
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 25px;
}
.features-tips li {
  width: 27%;
  margin-right: 1%;
  margin-left: 3%;
  margin-bottom: 30px;
  text-align: center;
  /* Firefox */
  /* Safari */
  box-sizing: border-box;
}
.features-tips li img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.features-tips li h3 {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}
.features-tips li p {
  text-align: left;
  line-height: 1.3em;
}
@media (max-width: 768px) {
  .features-tips {
    max-width: 100%;
    flex-direction: column;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
  .features-tips li {
    width: 96%;
    height: auto;
  }
}

/*chef css*/
.chef .chef-pic {
  width: 50%;
  height: 460px;
  background-image: url(../images/main_chef_brown.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-color: #3D1101;
}
.chef .chef-profile {
  max-width: 50%;
  height: auto;
  background-color: #3D1101;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 49px;
  padding-top: 81px;
  color: #EFE9E7;
  /* Firefox */
  /* Safari */
  box-sizing: border-box;
}
.chef .chef-profile h2 {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}
.chef .chef-profile p {
  font-size: font-h4();
  line-height: 1.3em;
}
@media (max-width: 768px) {
  .chef {
    max-width: 100%;
  }
  .chef .chef-pic {
    background-size: cover;
    height: auto;
  }
  .chef .chef-profile {
    padding-top: 41px;
  }
}
@media (max-width: 568px) {
  .chef .chef-pic {
    width: 100%;
    height: 460px;
  }
  .chef .chef-profile {
    max-width: 100%;
    height: auto;
    padding-left: 31px;
    padding-right: 31px;
  }
}

/*comment css*/
.comment {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #ede6e6;
  color: #3D1101;
}
.comment h2 {
  font-size: 24px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .comment {
    max-width: 100%;
  }
}

.comment-content {
  display: flex;
  padding-left: 42px;
  padding-right: 42px;
}
.comment-content li {
  display: flex;
  width: 32%;
  margin-bottom: 30px;
  margin-right: 1%;
  margin: 0 auto;
  /* Firefox */
  /* Safari */
  box-sizing: border-box;
}
.comment-content li img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 13px;
}
.comment-content li .comment-message h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
  margin-bottom: 22px;
}
.comment-content li .comment-message p {
  font-size: 16px;
  margin-bottom: 16px;
}
.comment-content li .comment-message .comment-jobtitle {
  text-align: right;
}
@media (max-width: 768px) {
  .comment-content {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .comment-content li {
    /*map css*/
    width: 96%;
    height: auto;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}

/*map css*/
.map .map-title {
  width: auto;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.map .map-title p {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.map .map-content {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
}
.map .map-content .map-content-pic {
  width: 49%;
  height: 386px;
  margin-bottom: 30px;
  background-image: url(../images/Map.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.map .map-content .map-content-reservation {
  width: 49%;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
  color: #EFE9E7;
  /* Firefox */
  /* Safari */
  box-sizing: border-box;
}
.map .map-content .map-content-reservation .form-reservation {
  color: #3D1101;
  font-size: 14px;
}
.map .map-content .map-content-reservation .form-reservation input[type=text], .map .map-content .map-content-reservation .form-reservation input[type=number], .map .map-content .map-content-reservation .form-reservation input[type=email] {
  width: 98%;
}
.map .map-content .map-content-reservation .form-reservation input[type=radio] {
  width: auto;
  margin: 1em 28px 10px 10px;
  text-align: left;
}
.map .map-content .map-content-reservation .form-reservation .label_inline {
  display: inline;
}
.map .map-content .map-content-reservation .form-reservation .div-form-button {
  text-align: right;
}
.map .map-content .map-content-reservation .form-reservation .div-form-button button {
  width: 70px;
}
.map .map-content .map-content-reservation .form-reservation .div-form-button button[type=submit] {
  margin: 0em 0 0 !important;
}
@media (max-width: 768px) {
  .map {
    max-width: 100%;
  }
  .map .map-content .map-content-pic {
    background-size: cover;
  }
}
@media (max-width: 568px) {
  .map {
    max-width: 100%;
  }
  .map .map-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .map .map-content .map-content-pic {
    width: 96%;
    height: 386px;
  }
  .map .map-content .map-content-reservation {
    width: 100%;
  }
}