/*content CSS*/
.content
{
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2em;
	background-color: #ede6e6;
	color: #3D1101;

}
@media (max-width: 768px){
	.content{
		max-width: 768px;
		-moz-box-sizing: border-box; /* Firefox */
	    -webkit-box-sizing: border-box;/* Safari */
	    box-sizing: border-box;
	}
}
@media (max-width: 414px){
	.content{
		max-width: 414px;
	}
}
/*特色 CSS*/
.content .features-title
{
	width: 	460px;
	height: 64px;
	position: relative;
	text-align: center;
	margin: 0 auto;
}
.features-title-hr
{
	width: 100%;
	height: 1px;
	z-index: 2;
	position: absolute;
	left: 0;
	right: 0;
	top:1.25em;
	margin: 0 auto;
	background-color:   #979797;
}
.features-title-content
{
	width: 200px;
	z-index: 100;
	background-color: #ede6e6;
	text-align:center;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #3D1101;
}
.features-title-content p
{
	font-size: 1.25em;
	margin-bottom: 0.5em;
}
/*秘訣 css*/
.features-tips
{
	max-width: 1024px;
	margin-top: 31px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 25px;
	padding-right: 25px;

}
.features-tips li
{
	width: 27%;
	margin-right: 1%;
	margin-left: 3%;
	margin-bottom:30px;
	text-align: center;
	-moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box;/* Safari */
    box-sizing: border-box;
}
.features-tips li>img
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.features-tips li>h3
{
	font-size: 1.125em;
	margin-bottom: 11px;
}
.features-tips li>p
{
	font-size: 1em;
	text-align: left;
	line-height: 1.3em;
}
@media (max-width: 768px){
	.features-tips
	{
		max-width: 768px;
	}
}
@media (max-width: 414px){
	.content .features-title
	{
		max-width: 414px;
		width: auto;
	}
	.features-title-hr
	{
		display: none;
	}
	.features-title-content
	{
		position: static;
	}
	.features-tips{
		max-width: 414px;
		flex-direction: column;
		-moz-box-sizing: border-box; /* Firefox */
	    -webkit-box-sizing: border-box;/* Safari */
	    box-sizing: border-box;
	}	
	.features-tips li
	{
		width: 96%;
		height: auto;		
	}
}

/*chef css*/
.content .chef
{
	max-width: 100%;
	height: auto;
	display: flex;
}
.chef .chef-left
{
	width: 50%;
	height: 460px;
	background-image: url(../images/main_chef_brown.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	background-color:  #3D1101;
}
.chef .chef-right
{
	max-width: 50%;
	height: auto;
	background-color:  #3D1101;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 49px;
	padding-top: 81px;
	color: #EFE9E7;
	-moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box;/* Safari */
    box-sizing: border-box;
}
.chef-right h2
{
	font-size: 20px;
	margin-bottom: 0.3em;
}
.chef-right p
{
	font-size: 1em;
	margin-bottom: 1em;
	line-height: 1.3em;
}

@media (max-width: 768px){
	.content .chef
	{
		max-width: 768px;
	}
	.chef .chef-left
	{		
		background-size: cover;	
		height: auto;
	}
	.chef .chef-right
	{
		padding-top: 41px;
	}	
}
@media (max-width: 414px){
	.content .chef
	{
		max-width: 414px;
		flex-direction: column;
	}
	.chef .chef-left
	{
		width: 100%;
		height: 460px;		
	}
	.chef .chef-right
	{
		max-width: 100%;
		height: auto;		
		padding-left: 31px;
		padding-right: 31px;
	}
}

/*comment css*/
.comment
{
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	background-color: #ede6e6;
	color: #3D1101;

}
.comment h2
{
	font-size: 24px;
	margin-bottom: 50px;
}
.comment .comment-content 
{
	display: flex;
	padding-left: 42px;
	padding-right: 42px;	
}
.comment .comment-content li
{
	display: flex;
	width: 32%;
	margin-bottom:30px;
	margin-right: 1%;
	margin:0 auto;
	-moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box;/* Safari */
    box-sizing: border-box;
}
.comment .comment-content li>img
{
	width: 67px;
	height: 67px;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-right: 13px;
}
.comment .comment-content li>.comment-message h3
{
	font-size: 18px;
	margin-bottom: 22px;
}
.comment .comment-content li>.comment-message p
{
	font-size: 16px;
	margin-bottom: 16px;
}
.comment .comment-content li>.comment-message .comment-jobtitle 
{
	text-align: right;
}
@media (max-width: 768px){
	.comment
	{
		max-width: 768px;
	}
}
@media (max-width: 414px){
	.comment
	{
		max-width: 414px;
	}
	.comment .comment-content
	{
		flex-direction: column;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.comment .comment-content li{
		width: 96%;
		height: auto;	
		-moz-box-sizing: border-box; /* Firefox */
	    -webkit-box-sizing: border-box;/* Safari */
	    box-sizing: border-box;
	}	
	
}

/*map css*/
.content .map
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 38px;
	background-color:  rgba(250,250,250,0.70);
	color: #3D1101;
}
.map .map-title
{
	width: 	auto;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}
.map .map-title p
{
	font-size: 24px;
}
.map .map-content
{
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
}
.map .map-content .map-content-left
{
	width: 49%;
	height: 386px;
	margin-bottom: 30px;
	background-image: url(../images/Map.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
}
.map .map-content .map-content-right
{
	width: 49%;
	height: auto;
	padding-left: 12px;
	padding-right: 12px;
	color: #EFE9E7;
	-moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box;/* Safari */
    box-sizing: border-box;
}
.form-reservation
{
	color: #3D1101;
	font-size: 14px;
}
.form-reservation label
{
	font-size:14px;
}
.form-reservation  input[type="text"],.form-reservation  input[type="number"]
,.form-reservation  input[type="email"]
{
	width: 98%;
	font-size: 14px;
	color: #3D1101;
}
.form-reservation  input[type="radio"]
{
	width:auto;
	font-size: 14px;
	margin: 1em 28px 10px 10px;
	text-align: left;
}
.div-form-button
{
	text-align: right;
}
.div-form-button button
{
	width: 70px;
}
@media (max-width: 768px){
	.map
	{
		max-width: 768px;
	}
	.map .map-content .map-content-left
	{		
		background-size: cover;	
	}
}
@media (max-width: 414px){
	.map
	{
		max-width: 414px;
	}
	.map .map-content
	{
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}
	
	.map .map-content .map-content-left
	{
		width: 96%;
		height: 386px;	
	}
	.map .map-content .map-content-right{
		width: 100%;
	}	
	
}