@charset "UTF-8";
/*共用css，header ,menu,banner,footer*/
/*載入字型*/
@font-face {
  font-family: "Roboto-Light";
  src: url("../webfonts/Roboto-Light.ttf") format("truetype");
}
.wrap {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 微軟正黑體;
}
@media (max-width: 768px) {
  .wrap {
    max-width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}
@media (max-width: 568px) {
  .wrap {
    max-width: 100%;
  }
}

/*header CSS*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050001;
  padding: 0.625em 1.875em;
}
.header .logo-banner a {
  width: 120px;
  height: 32px;
  background: url("../images/logo_w(null).svg") no-repeat;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header {
    max-width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}
@media (max-width: 568px) {
  .header {
    max-width: 100%;
  }
}

.menu {
  display: flex;
}
.menu li > a {
  display: block;
  height: 40px;
  /*40px以上是使用者手指一般可點擊的範圍*/
  line-height: 40px;
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  /*避免選選單時頁面跳動*/
}
.menu li > a:hover {
  border-bottom: 2px solid white;
}
@media (max-width: 768px) {
  .menu {
    max-width: 100%;
    width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: max-height 1s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 100;
    /*header 80px+1px boder 線條*/
    top: 43px;
    left: 0;
    right: 0;
    background: #050001;
    flex-direction: column;
    text-align: right;
  }
  .menu li {
    display: block;
    max-width: 100%;
    border-bottom: 1px dashed white;
  }
  .menu li > a:hover {
    border-bottom: 0px;
    color: gray;
  }
}

.showmenu {
  display: none;
}
@media (max-width: 768px) {
  .showmenu {
    display: block;
    color: white;
    font-size: 1.5em;
  }
}

/*jQ點擊後動態在 body 加上 class */
.menu-show .menu {
  max-height: 400px;
}

/*banner CSS*/
.banner {
  height: 420px;
  background-image: url(../images/header_desktop.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #050001;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .slogan {
  padding-top: 1.25em;
  padding-bottom: 1.625em;
  padding-left: 1.375em;
  padding-right: 2.625em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  /*灰色半透明*/
  text-align: center;
}
.banner .slogan h2 {
  padding-bottom: 0.55em;
  font-size: 2.25em;
  color: white;
}
.banner .slogan h4 {
  line-height: 1.5em;
  color: white;
}
.banner .slogan span {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
@media (max-width: 768px) {
  .banner {
    max-width: 100%;
    max-height: 420px;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}
@media (max-width: 568px) {
  .banner {
    max-width: 100%;
    max-height: 280px;
    font-size: 70%;
    background-image: url(../images/header_mobile.png);
  }
}

/*footer css*/
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625em 1.875em;
  background-color: #ede6e6;
  color: #270904;
}
.footer .footer-about {
  width: 28%;
  margin-right: 2%;
  margin-bottom: 30px;
}
.footer .footer-about h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.footer .footer-contact {
  width: 38%;
  margin-right: 2%;
  margin-bottom: 30px;
}
.footer .footer-contact h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.footer .footer-contact ul {
  list-style: disc;
  padding-left: 1.5em;
}
.footer .footer-logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.footer .footer-logo .logo-footer a {
  width: 245px;
  height: 49px;
  background: url("../images/logo_l@svg.svg") no-repeat;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.footer .footer-logo div {
  font-size: 3.0625em;
  font-weight: bolder;
  letter-spacing: 0px;
}
.footer .footer-logo .google-logo {
  color: #ed4b32;
  font-size: 2em;
  margin: 0.67em 0;
}
.footer .footer-logo .twitter-logo {
  color: #3298d6;
  font-size: 2em;
  margin: 0.67em 0;
}
.footer .footer-logo .facebook-logo {
  color: #2a5086;
  font-size: 2em;
  margin: 0.67em 0;
}
@media (max-width: 768px) {
  .footer {
    max-width: 100%;
  }
  .footer .footer-about, .footer .footer-contact, .footer .footer-logo {
    width: 100%;
    height: auto;
  }
  .footer .logo-footer {
    display: none;
  }
}

.form-btn-gray {
  background-color: rgba(0, 0, 0, 0.35);
  height: 40px;
  /*40px以上是使用者手指一般可點擊的範圍*/
  color: #fff;
}

.form-btn-orange {
  background-color: #F56C23;
  height: 40px;
  /*40px以上是使用者手指一般可點擊的範圍*/
  color: #fff;
}

.pure-form-stacked .form-text {
  margin: 1em 0 !important;
  font-family: "FontAwesome" !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: inherit !important;
}