@charset "UTF-8";
/*content CSS*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  background-color: #ede6e6;
  color: #3D1101;
}
.content h2 {
  font-family: "Noto Sans TC";
  font-weight: bolder;
  font-size: 3em;
  margin-bottom: 0.3em;
}
.content h3 {
  font-family: "Noto Sans TC";
  font-weight: bolder;
  font-size: 1.25em;
  margin-bottom: 1.75em;
}
.content .form-login {
  border-top: 3px solid #FF5E45;
  /* 老的 Firefox */
  box-shadow: 5px 5px 5px #d6cfcf;
  padding: 1em;
}
.content .form-login legend {
  font-size: 1.125em;
  font-weight: bolder;
  text-align: center;
  font-family: "Noto Sans TC";
  color: #3D1101;
}
.content .form-login label {
  color: #3D1101;
}
.content .form-login .a-forgotpassword {
  font-size: 0.875em;
  display: block;
  width: 100%;
  color: red;
  margin: 1em 0;
}
.content .form-login .form-login-register, .content .form-login .form-login-login {
  width: 48%;
}
.content .pure-form-stacked .form-login-text {
  margin: 1em 0;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.content .pure-form-stacked .input-email, .content .pure-form-stacked .input-password {
  position: relative;
}
.content .pure-form-stacked .input-email input, .content .pure-form-stacked .input-password input {
  padding-left: 32px;
}
.content .pure-form-stacked .input-email i, .content .pure-form-stacked .input-password i {
  position: absolute;
  top: 0.6em;
  left: 10px;
}
@media (max-width: 768px) {
  .content {
    max-width: 100%;
    /* Firefox */
    /* Safari */
    box-sizing: border-box;
  }
}
@media (max-width: 568px) {
  .content {
    max-width: 100%;
  }
  .content .pure-form button[type=submit] {
    margin: 0em 0 0;
  }
}