/*共用css，header ,menu,banner,footer*/
/*載入字型*/
@font-face {
  font-family: 'Roboto-Light';
  src: url('../webfonts/Roboto-Light.ttf') format("truetype");
}
.wrap{
	max-width: 1024px;
	margin: 0 auto;
	font-family: 微軟正黑體;
}
@media (max-width: 768px){
	.wrap{
		max-width: 100%;
		-moz-box-sizing: border-box; /* Firefox */
	    -webkit-box-sizing: border-box;/* Safari */
	    box-sizing: border-box;
	}	
}
@media (max-width: 414px){
	.wrap{
		max-width: 100%;
	}	
}
/*header CSS*/
.header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #050001;
	padding: 0.625em 1.875em;
}
.header .logo-banner a
{
	width: 120px;
	height: 32px;
	background: url('../images/logo_w(null).svg')  no-repeat;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
.menu
{
	display: flex;
}
.menu li>a
{
   display: block;
   height: 40px; /*40px以上是使用者手指一般可點擊的範圍*/
   line-height: 40px;
   padding:0.5em 1em;
   font-size: 1em;
   color: white;
   text-decoration: none;
   border-bottom: 2px solid transparent;/*避免選選單時頁面跳動*/
}
.menu li>a:hover
{
	border-bottom: 2px solid  white;
}
.showmenu{
	display: none;
}
/*jQ點擊後動態在 body 加上 class */
.menu-show .menu{
    max-height: 400px
}
@media (max-width: 768px){
	.header,.menu{
		max-width: 100%;
		-moz-box-sizing: border-box; /* Firefox */
	    -webkit-box-sizing: border-box;/* Safari */
	    box-sizing: border-box;
	}
	.menu {
		width: 100%;
	    /*隱藏選單開始*/
	    max-height: 0px;
	    overflow: hidden;
	    /*隱藏選單結束*/
	    transition: max-height 1s;
	    margin-top: 1px;
	    /*絕對定位疊在網頁上*/
	    position: absolute;
	    z-index: 100;
	    /*header 80px+1px boder 線條*/
	    top: 43px;
	    left: 0;
	    right: 0;
	    background: #050001;
	    flex-direction: column;
	    text-align: right;
    }
    .menu li{
    	display: block;
      	max-width: 100%;
      	border-bottom: 1px dashed white;
    }
    .menu li>a:hover
    {
    	border-bottom: 0px;
    	color: gray;
    }

   .showmenu{
		display: block;
		color: white;
		font-size: 1.5em;
   }
}
@media (max-width: 414px){
	.header{
		max-width: 100%;
	}	
}
/*banner CSS*/
.banner
{
	height:420px;
	background-image:  url(../images/header_desktop.png) ;
	background-repeat: no-repeat;
	background-position: center center;
	background-color:  #050001;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slogan
{
	padding-top: 1.25em;
	padding-bottom:1.625em;
	padding-left: 1.375em;
	padding-right: 2.625em;
	margin: 0 auto;
	background-color:  rgba(0, 0, 0 , 0.5); /*灰色半透明*/
	text-align: center;
}
.slogan h2
{
	padding-bottom:0.55em;
	font-size: 2.25em;
	color: white;
}
.slogan h3
{
	padding-bottom: 0.5em;
	font-size:  1em;
	color: white;
}
.slogan span
{
	margin-left: 0.3em;
	margin-right: 0.3em;
}
@media (max-width: 768px){
	.banner{
		max-width: 100%;
		max-height:420px;
		-moz-box-sizing: border-box; /* Firefox */
	    -webkit-box-sizing: border-box;/* Safari */
	    box-sizing: border-box;
	}
}
@media (max-width: 414px){
	.banner{
		max-width: 100%;
		max-height:280px;
		font-size: 70%;
		background-image:  url(../images/header_mobile.png) ;	
	}	
}

/*footer css*/
.footer
{
	display: flex;
	flex-wrap: wrap;
	padding: 0.625em 1.875em;	
	background-color: #ede6e6;
	color: #270904;
}
.footer-about
{
	width: 28%;
	margin-right: 2%;
	margin-bottom:30px;
}
.footer-contact
{
	width: 38%;
	margin-right: 2%;
	margin-bottom: 30px;
}
.footer-logo
{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 30px;
}
.logo-footer a
{
	width: 245px;
	height: 49px;
	background: url('../images/logo_l@svg.svg')  no-repeat;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.footer-about h2,.footer-contact h2
{
	font-size: 1.5em;
	margin-bottom: 1.25em;
}
.footer-contact ul
{
	list-style: disc;
	padding-left: 1.5em;
}
.footer-logo h2
{
	font-size:3.0625em;
	font-weight: bolder;
	margin-bottom: 0.5em;
	letter-spacing: 0px;
}
.footer-logo .google-logo
{
	color: #ed4b32;
	font-size: 2em;
}
.footer-logo .twitter-logo
{
	color: #3298d6;
	font-size: 2em;
}
.footer-logo .facebook-logo
{
	color: #2a5086;
	font-size: 2em;
}
@media (max-width: 768px){
	.footer{
		max-width: 100%;
		-moz-box-sizing: border-box; /* Firefox */
	    -webkit-box-sizing: border-box;/* Safari */
	    box-sizing: border-box;
	}
	.footer-about,.footer-contact
	{
		width: 31%;
	}
	.footer-logo
	{
		width: 33.33%;
		align-items: flex-end;
	}

}
@media (max-width: 414px){
	.footer{
		max-width: 100%;
	}	
	.footer-about,.footer-contact,.footer-logo
	{
		width: 100%;
		height: auto;
	}
	.pure-form button[type="submit"] {
      margin: 0.0em 0 0;
	}
	.logo-footer
	{
		display: none;
	}
}
.form-btn-gray {
    background-color: rgba(0,0,0,0.35);
    height: 40px;/*40px以上是使用者手指一般可點擊的範圍*/
    color: #fff;
}
.form-btn-orange {
    background-color: #F56C23;
    height: 40px;/*40px以上是使用者手指一般可點擊的範圍*/
    color: #fff;
}
.pure-form-stacked .form-text{
   margin: 1em 0 !important;
   font-family: "FontAwesome"!important;
    font-style: normal!important;
    font-weight: normal!important;
    text-decoration: inherit!important;
}
